In [1]:
import Board
b = Board.Board(9,9,0)

In [2]:
board = b.get_board()

In [3]:
board

     x_0  x_1  x_2  x_3  x_4  x_5  x_6  x_7  x_8  x_9
y_9    0    0    0    0    0    0    0    0    0    0
y_8    0    0    0    0    0    0    0    0    0    0
y_7    0    0    0    0    0    0    0    0    0    0
y_6    0    0    0    0    0    0    0    0    0    0
y_5    0    0    0    0    0    0    0    0    0    0
y_4    0    0    0    0    0    0    0    0    0    0
y_3    0    0    0    0    0    0    0    0    0    0
y_2    0    0    0    0    0    0    0    0    0    0
y_1    0    0    0    0    0    0    0    0    0    0
y_0    0    0    0    0    0    0    0    0    0    0

# 3 Steps:
(1) Place ships on board

(2) Walk through points on board:
    - Mark if hit
    - Mark if miss
    - Log
(3) Create training set

In [12]:
board

     x_0  x_1  x_2  x_3  x_4  x_5  x_6  x_7  x_8  x_9
y_0    0    0    0    0    0    0    0    0    0    0
y_1    0    0    0    0    0    0    0    0    0    0
y_2    0    0    0    0    0    0    0    0    0    0
y_3    0    0    0    0    0    0    0    0    0    0
y_4    0    0    0    0    0    0    0    0    0    0
y_5    0    0    0    0    0    0    0    0    0    0
y_6    0    0    0    0    0    0    0    0    0    0
y_7    0    0    0    0    0    0    0    0    0    0
y_8    0    0    0    0    0    0    0    0    0    0
y_9    0    0    0    0    0    0    0    0    0    0

In [39]:
def get_ship_dimentions(ship_type, x, y, direction):
    x2, y2 = x, y
    
    ships = {'carrier':5, 'battleship':4, 'cruiser':3, 'submarine':3, 'destroyer':2}
    assert ship_type in list(ships.keys())
    assert direction in ['up', 'right']
    
    length = ships[ship_type]

    if direction == 'up':
        y2 += length
    elif direction == 'right':
        x2 += length
        
    return x, x2, y, y2

def add_ship(x1, x2, y1, y2):
    '''
    Make sure this is done from a 0 index space
    '''
    board = b.get_board()
    
    # direction is up, select a column
    if x1 == x2:
        space = board.iloc[x1, :][y1:y2]
        
    # direction is right, select a row
    elif y1 == y2:
        space = board.iloc[:, y2][x1:x2]
        
    return space

#     return board
        
x1, x2, y1, y2 = get_ship_dimentions('destroyer', 0, 0, 'up')

print (x1, x2, y1, y2)

space = add_ship(x1, x2, y1, y2)

0 0 0 2

In [40]:
space.head()

0    0
1    0
Name: 0, dtype: int64

In [41]:
board = b.get_board()

In [42]:
board

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0