In [1]:
import Board
b = Board.Board(9,9,0)

# 3 Steps:
(1) Place ships on board

(2) Walk through points on board:
    - Mark if hit
    - Mark if miss
    - Log
(3) Create training set

In [55]:
def get_ship_dimentions(ship_type, x, y, direction):
    x2, y2 = x, y
    
    ships = {'carrier':5, 'battleship':4, 'cruiser':3, 'submarine':3, 'destroyer':2}
    assert ship_type in list(ships.keys())
    assert direction in ['up', 'right']
    
    length = ships[ship_type]

    if direction == 'up':
        y2 += length - 1
    elif direction == 'right':
        x2 += length - 1
        
    return x, x2, y, y2

In [89]:
def add_ship(x1, x2, y1, y2):
    '''
    Make sure this is done from a 0 index space
    '''
    board = b.get_board()
    up = (x1 == x2)
    
    # direction is up, select a column
    if up:
        rows = []
        col = 'x_{}'.format(x1)
        for y in range(y1, y2+1):
            rows.append('y_{}'.format(y))
        space = board.loc[rows, col]
        
    # direction is right, select a row
    elif y1 == y2:
        row = 'y_{}'.format(y1)
        space = board.loc[row,:][x1:x2+1]
        
    for each in space.values:
        if each != 0:
            b.print_board()
            return 'Please try a different spot! This one is taken.'

    if up:
        board.loc[rows, col] = 'S'
        
    else:
        board.loc[row,:][x1:x2+1] = 'S'
    
    return board
    
x1, x2, y1, y2 = get_ship_dimentions('carrier', 7, 2, 'up')

print (x1, x2, y1, y2)

space = add_ship(x1, x2, y1, y2)

7 7 2 6

In [90]:
board

    x_0  x_1  x_2  x_3  x_4 x_5  x_6 x_7  x_8  x_9
y_9   0    0    0    0    0   0    0   0    0    0
y_8   0    0    0    0    0   0    0   0    0    0
y_7   0    0    0    0    0   0    0   0    0    0
y_6   0    0    0    0    0   0    0   S    0    0
y_5   0    0    0    0    0   0    0   S    0    0
y_4   0    0    0    0    0   0    0   S    0    0
y_3   0    0    0    0    0   0    0   S    0    0
y_2   0    0    0    0    0   0    0   S    0    0
y_1   S    0    0    0    0   S    0   0    0    0
y_0   S    0    0    0    0   S    0   0    0    0