# 3 Steps:
- Get Ships on board
- Walk through each point: mark if hit / miss, log
- Create training set

In [3]:
import TrainingSet
import Board

b = Board.Board(9,9,0)

# now this is adding one extra column when it goes right
b.add_ship('carrier', 5, 2, 'up')
b.add_ship('destroyer', 0,0,'right')
b.add_ship('submarine', 1,1,'up')
b.add_ship('cruiser', 8,0,'up')

In [12]:
ts = TrainingSet.TrainingSet(b)

In [13]:
df = ts.get_set()

In [14]:
df.shape

(100, 22)

In [15]:
df[0].value_counts()

0    87
1    13
Name: 0, dtype: int64

In [17]:
df.to_csv('../Data/train.csv', index=False, header=False)
df.to_csv('../Data/test.csv', index=False, header=False)
df.to_csv('../Data/validation.csv', index=False, header=False)

In [1]:
!aws s3 cp '../Data/train.csv' s3://battleship-do-not-delete/train.csv
!aws s3 cp '../Data/test.csv' s3://battleship-do-not-delete/test.csv
!aws s3 cp '../Data/validation.csv' s3://battleship-do-not-delete/validation.csv

upload: ../Data/train.csv to s3://battleship-do-not-delete/train.csv
upload: ../Data/test.csv to s3://battleship-do-not-delete/test.csv
upload: ../Data/validation.csv to s3://battleship-do-not-delete/validation.csv

In [6]:
board = b.get_board()

In [7]:
board

    x_0 x_1  x_2  x_3  x_4 x_5  x_6  x_7 x_8  x_9
y_9   0   0    0    0    0   0    0    0   0    0
y_8   0   0    0    0    0   0    0    0   0    0
y_7   0   0    0    0    0   0    0    0   0    0
y_6   0   0    0    0    0   S    0    0   0    0
y_5   0   0    0    0    0   S    0    0   0    0
y_4   0   0    0    0    0   S    0    0   0    0
y_3   0   S    0    0    0   S    0    0   0    0
y_2   0   S    0    0    0   S    0    0   S    0
y_1   0   S    0    0    0   0    0    0   S    0
y_0   S   S    0    0    0   0    0    0   S    0